{% extends 'public.html.twig' %}

{% block body %}
  
  {% for encuesta in encuestas %}
  
    <div>
      {{encuesta.descripcion}}
      <a href="{{ path('encuestas_empezar', {'id': encuesta.id}) }}">Empezar</a>
    </div>
    
  {% endfor %}
  
  
{% endblock %} 